 @{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>Thank you!</h1>
<div class="callout2">
    @*<p>The second annual Nebraska Code Camp, held March 10, 2012, was an amazing success!  With over 350 developers in attendance, we nearly doubled the attendance from year 1!  Thank you to all the attendees, speakers and sponsors who turned out to make this one of the most awesome developer experiences in the midwest!  Your contribution to the developer community makes Nebraska a truly great place to be a developer. </p>*@
    <p>See you all next year!</p>
</div>

<p class="message_blue">
    @Html.ActionLink("Slides and Demos", "SlidesAndDemos", "Sessions") have been posted!
</p>
