@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
    "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        if (ViewBag.Title != null && ViewBag.Title != "" && !ViewBag.Title.Contains("Great Plains Game Festival"))
        {
            ViewBag.Title = "Great Plains Game Festival: " + ViewBag.Title;
        }
        else
        {
            ViewBag.Title = "Great Plains Game Festival";
        }
    }
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bare.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>@RenderSection("pageHeadline")</h1>
    @RenderBody()
</body>
</html>
