<div class="calendar_info">
        <a href="@Url.Action("iCal", "Services")"><img src="@Url.Content("~/Content/images/CalendarAdd64.png")" alt="iCal" style="display:block; text-align:center; margin:0 auto;" />Add to your Calendar</a>
        </div>