<!-- ***************** - Homepage jQuery Slider - ***************** -->
<div class="home-banner-wrap">
    <ul>
        <li class="jqslider">
            <div class="home-banner-main">
                         </div>
            <!-- end home-banner-main -->
            <div class="home-banner-sub">
                <div class="home-banner-sub-content">
             
                </div>
                <!-- end home-banner-sub-content -->
            </div>
            <!-- end home-banner-sub -->
        </li>
        <li class="jqslider">
            <div class="home-banner-main">
                <h2>Brought to you by...</h2>
                <p>The Great Plains Game Festival is an event that is organized by the Great Plains Game Association, that celebrates Table Top Gaming.</p>
            </div>
            <!-- end home-banner-main -->
            <div class="home-banner-sub">
                <div class="home-banner-sub-content">
                    <a href="@Url.Action("Index","About")">
                        <img src="@Url.Content("~/Content/images/ColoredGPGF_logo.png")"
                            alt="GPGF" width="436" height="270" /></a>
                </div>
                <!-- end home-banner-sub-content -->
            </div>
            <!-- end home-banner-sub -->
        </li>
       
    </ul>
</div>
<!-- end home-banner-wrap -->
<!-- ***************** - END Homepage jQuery Slider - ***************** -->
